<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Youtube Convert</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1 class="heading">Youtube Converter</h1>
        <input id="url" class="URL-input" placeholder="Video URL">
        <button onclick="convert()" class="convert-button">Convert</button>
        </div>
        <div class="custom-select" style="width:207px;">
            <select id="typeselector">
              <option value="mp3">Mp3</option>
              <option value="mp4">Mp4</option>
              <option value="wav">Wav</option>
            </select>
          </div>
          <div class = "bg-light-blue-600 w-24 h-24"></div>
        <script src="bundle.js"></script>
        <script src='converter.js'></script>
    </body>
</html>